<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HttpParamsUtility" version="1.0.0" targetFramework="net451" />
  <package id="Microsoft.Bcl" version="1.1.7" targetFramework="net451" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net451" />
  <package id="Microsoft.Net.Http" version="2.1.10" targetFramework="net451" />
  <package id="Moq" version="4.2.1507.0118" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net451" />
  <package id="NUnit" version="2.6.4" targetFramework="net451" />
  <package id="RichardSzalay.MockHttp" version="1.2.1" targetFramework="net451" />
</packages>